# https://adityatelange.github.io/hugo-PaperMod/posts/papermod/papermod-features/
baseURL: "https://joj0hq.com/"
title: joj0hq.com
pagination:
  pagerSize: 5
theme: PaperMod

# 多言語設定
defaultContentLanguage: ja
defaultContentLanguageInSubdir: false
languages:
  ja:
    languageName: "日本語"
    weight: 1
    title: joj0hq.com
    params:
      description: "jojoが気ままにエンジニアリングや個人の考えを発信します。"
      keywords:
        [
          Golang,
          ドメイン駆動設計,
          Dart,
          エンジニア,
          プロダクト開発,
          Blog,
          Portfolio,
          PaperMod,
        ]
      homeInfoParams:
        Title: jojo
        Content: ソフトウェアエンジニア | 10X, Inc.
    menu:
      main:
        - identifier: blog
          name: ブログ
          url: /posts
          weight: 9
        - identifier: product
          name: プロダクト
          url: /products
          weight: 9
        - identifier: about
          name: 自己紹介
          url: /about
          weight: 100
        - identifier: search
          name: 検索
          url: /search
          weight: 200
        - identifier: contacts
          name: 問い合わせ
          url: mailto:jotaro.yuza@gmail.com
          weight: 1000
  en:
    languageName: "English"
    weight: 2
    contentDir: content/en
    title: joj0hq.com
    params:
      description: "jojo's blog about engineering and thoughts."
      keywords:
        [
          Golang,
          DDD,
          Dart,
          Engineer,
          Product Development,
          Blog,
          Portfolio,
          PaperMod,
        ]
      homeInfoParams:
        Title: jojo
        Content: Software Engineer at 10X, Inc.
    menu:
      main:
        - identifier: blog
          name: Blog
          url: /en/posts
          weight: 9
        - identifier: product
          name: Products
          url: /en/products
          weight: 9
        - identifier: about
          name: About
          url: /en/about
          weight: 100
        - identifier: search
          name: Search
          url: /en/search
          weight: 200
        - identifier: contacts
          name: Contact
          url: mailto:jotaro.yuza@gmail.com
          weight: 1000

enableRobotsTXT: true
buildDrafts: false
buildFuture: false
buildExpired: false
mainsections: ["post"]

googleAnalytics: G-5DHQZYY1H1

minify:
  disableXML: true
  minifyOutput: true

params:
  env: production # to enable google analytics, opengraph, twitter-cards and schema.
  author: joj0hq
  images: ["https://joj0hq.com/images/profile.jpg"]
  DateFormat: "2006/01/02"
  defaultTheme: auto # dark, light
  disableThemeToggle: false

  ShowShareButtons: true
  ShowPostNavLinks: true
  ShowBreadCrumbs: true
  ShowCodeCopyButtons: true
  ShowRssButtonInSectionTermList: true
  UseHugoToc: true
  disableSpecial1stPost: false
  disableScrollToTop: false
  comments: false
  hidemeta: false
  hideSummary: false
  showtoc: true
  tocopen: true
  social: true

  assets:
    # disableHLJS: true # to disable highlight.js
    # disableFingerprinting: true
    favicon: "/images/favicon.ico"
    favicon16x16: "/images/favicon16x16.png"
    favicon32x32: "/images/favicon32x32.png"
    apple_touch_icon: "/images/apple_touch_icon.png"
    safari_pinned_tab: "/images/safari_pinned_tab.png"

  label:
    text: ""
    icon: /images/logo.png
    iconHeight: 40
  # # profile-mode
  # profileMode:
  #   enabled: true # needs to be explicitly set
  #   title: jojo
  #   subtitle: "Software Engineer"
  #   imageUrl: "/images/profile.jpg"
  #   imageWidth: 120
  #   imageHeight: 120
  #   imageTitle: my image
  #   # buttons:
  #   #   - name: Posts
  #   #     url: posts
  #   #   - name: Tags
  #   #     url: tags

  socialIcons:
    - name: linkedin
      url: "https://www.linkedin.com/in/joj0hq/"
    - name: github
      url: "https://github.com/joj0hq"
    - name: sizukanainternet
      url: "https://sizu.me/joj0hq"
    - name: x
      url: "https://x.com/joj0hq"
    - name: facebook
      url: "https://facebook.com/jotaro.yuza"

  # analytics:
  #   google:
  #     SiteVerificationTag: "XYZabc"
  #   bing:
  #     SiteVerificationTag: "XYZabc"
  #   yandex:
  #     SiteVerificationTag: "XYZabc"

  # editPost:
  #   URL: "https://github.com/joj0hq/hugo_site/content"
  #   Text: "Suggest Changes" # edit text
  #   appendFilePath: true # to append file path to Edit link

  # for search
  # https://fusejs.io/api/options.html
  fuseOpts:
    isCaseSensitive: false
    shouldSort: true
    location: 0
    distance: 1000
    threshold: 0.4
    minMatchCharLength: 0
    keys: ["title", "permalink", "summary", "content", "post"]
# Read: https://github.com/adityatelange/hugo-PaperMod/wiki/FAQs#using-hugos-syntax-highlighter-chroma
pygmentsUseClasses: true
markup:
  goldmark:
    renderer:
      unsafe: true
  highlight:
    noClasses: false
    # anchorLineNos: true
    # codeFences: true
    # guessSyntax: true
    # lineNos: true
    # style: monokai
outputs:
  home:
    - HTML
    - RSS
    - JSON # is necessary
